doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="lib/bootstrap/dist/css/bootstrap.css")
    title!= title
  body
    div.containter-fluid
      div.col-md-4.col-md-offset-4
        img(src="img/logo.png" alt="Logo")
        h1 Prueba de concepto

        section( ng-view )
      
    //script(type="application/javascript", src="lib/bootstrap/dist/js/bootstrap.js")
    script(type="application/javascript").
      window.user = !{ user || 'null' }
    // load the angular libraries
    script(type="application/javascript", src="/socket.io/socket.io.js")
    script(type="application/javascript", src="lib/angular/angular.js")
    script(type="application/javascript", src="lib/angular-route/angular-route.js")
    script(type="application/javascript", src="lib/angular-resource/angular-resource.js")
    // load modules
    script(type="application/javascript", src="articles/articles.client.module.js")
    script(type="application/javascript", src="articles/controllers/articles.client.controller.js")
    script(type="application/javascript", src="articles/services/articles.client.service.js")
    script(type="application/javascript", src="articles/config/articles.client.routes.js")
    script(type="application/javascript", src="example/example.client.module.js")
    script(type="application/javascript", src="example/config/example.client.routes.js")
    script(type="application/javascript", src="example/controllers/example.client.controller.js")
    script(type="application/javascript", src="example/users.client.module.js")
    script(type="application/javascript", src="example/services/authentication.client.service.js")
    script(type="application/javascript", src="chat/chat.client.module.js")
    script(type="application/javascript", src="chat/config/chat.client.routes.js")
    script(type="application/javascript", src="chat/controllers/chat.client.controller.js")
    script(type="application/javascript", src="chat/services/socket.client.service.js")
    // bootstraping the angular application
    script(type="application/javascript", src="application.js")
